/* ############################# */
/* ####### 971 até 1200 ######## */
/* ############################# */

@media (max-width: 1200px) {
  .agendamentoBanner {
    display: none;
  }

  .dados {
    justify-content: space-around;
  }

  .dados h4 {
    padding-left: 80px;
  }

  .dados p {
    padding-left: 10px;
    font-size: 2.7em;
  }

  .rodape div > div:nth-child(2) {
    justify-content: space-around;
  }

  .rodape div > div:nth-child(3) {
    justify-content: space-around;
  }

  .session_games {
    height: auto;
    flex-direction: column;
  }

  .texto_games h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .texto_games p {
    text-align: center;
  }

  .img_games aside {
    margin-right: auto;
    margin: 30px;
  }

  .py-5{
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }
}

/* ############################# */
/* ####### 601 até 970 ######### */
/* ############################# */

@media screen and (max-width: 970px) {
    .menuLogin[data-aberto="false"] > .subMenuLogin {
      width: 100%; /* Ocupa toda a largura da tela */
      position: relative;
      margin-top: 10px;
      box-shadow: none; /* Remova a sombra no modo móvel */
      opacity: 1;
      visibility: visible;
    }
  
    .menuTrigger {
      display: none; /* Esconde o ícone de abertura/fechamento no mobile */
    }
  
    #loginFeito {
      align-items: center;
      gap: 10px;
    }

    .subMenuLogin{
        border: 1px solid #202020;
    }

    .liLogin{
        padding: 10px;
    }
  
    .subMenuLogin a {
      font-size: 1.2em; /* Ajuste do tamanho da fonte */
    }
  }

/* Não mostrar menu após 970px # */

@media screen and (max-width: 970px) {
  .faixaMenu {
    padding: 35px 20px!important;
  }

  .faixaMenu div:nth-child(2) h1{
    display: none;
  }

  .faixaMenu div:nth-child(1) div:nth-child(3){
    display: none!important;
  }

  .faixaMenu div:nth-child(2) div:nth-child(2){
    justify-content: center;
    padding: 10px 0;
  }

  /* Esconde o menu desktop */
  .faixaMenu div:nth-child(1) .menu {
    display: none;
  }

  /* Mostra o ícone do menu mobile */
  .menuMobileIcon {
    display: block !important;
  }

  .menuMobileIcon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .menuMobileIcon img {
    width: 70px;
    height: 70px;
  }

  /* Configura o menu mobile */
  .menuMobile {
    display: none;
  }

  .menuMobile ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .menuMobile ul li {
    display: block;
    padding-top: 1rem 2rem;
  }

  /* Exibe o menu mobile quando a classe 'open' está presente */
  .menuMobile.open {
    display: block !important;
  }
}

@media (max-width: 970px) {
  /* AgendamentoBanner */

  .agendamentoBanner {
    padding-bottom: 20px;
  }

  .agendamentoBanner h3 {
    color: #202020;
    margin: 0 auto;
  }

  .agendamentoBanner p {
    color: #202020;
    padding-top: 70px;
  }

  .agendamentoBanner div:nth-child(2) {
    margin-top: 0px;
    margin-left: 0px;
  }

  /* Informações */

  .info h2 {
    padding: 40px 0 40px 0;
  }

  .box {
    flex-direction: column;
    align-items: center;
  }

  /* Sobre */

  .sobre h2 {
    text-align: center;
  }

  .sobre img {
    width: 35%;
  }

  .ftexto {
    padding-bottom: 0px;
  }

  .ftexto p {
    font-size: 1.25em;
  }

  .dados {
    justify-content: space-around;
  }

  .dados h4 {
    font-size: 3em;
    padding-left: 30%;
  }

  .dados p {
    font-size: 2em;
    padding-left: 0px;
  }

  /* Rodapé */

  .titulo2 h2 {
    font-size: 5em;
  }

  .rodape div > div:nth-child(2) {
    justify-content: space-around;
  }

  .rodape div > div:nth-child(3) {
    justify-content: space-around;
  }

  .rodape div div:nth-child(3) ul:nth-child(2) {
    margin-right: 0px;
  }

  .rodape div div:nth-child(3) ul:nth-child(2) h6 {
    font-size: 1.7em;
    margin-top: 0px;
  }

  .rodape div div:nth-child(3) li {
    padding: 10px;
  }
}

/* ############################# */
/* ######### 0 até 837 ######### */ /* <---------- Apenas pro jogos.php */
/* ############################# */

@media (max-width: 837px) {
  .texto_games {
    height: 400px;
  }

  .img_games {
    flex-direction: column;
    width: 100%;
  }

  .texto_games h1 {
    font-family: "Protest Riot";
    font-size: 40pt;
    color: white;
    margin-bottom: 35px;
    text-align: center;
  }

  .texto_games p {
    color: #c0c0c0;
    font-size: 3em;
    text-align: center;
  }

  .session_games {
    height: auto !important;
    flex-direction: column;
  }

  .rodapeBranco > div:nth-child(2) {
    display: flex;
    justify-content: end;
    background: #000;
    padding: 20px 0;
    border-top: solid 2px #d0006f;
  }

  .img_games aside {
    box-shadow: #0000009c 10px 0px 15px;
    margin-right: auto;
    margin-bottom: 100px;
    width: 350px;
    height: 506px;
    border-radius: 50px;
    /* border: black 1px solid; */
  }
}

/* ############################# */
/* ######### 0 até 600 ######### */
/* ############################# */

@media (max-width: 600px) {

  /* Titulo */

  .titulo h2 {
    font-size: 5em;
  }

  /* Informações */

  .info h2 {
    font-size: 3em;
    padding: 20px 0;
  }

  .box h3 {
    padding: 20px 0;
    font-size: 2em;
  }

  .box p {
    font-size: 1.5em;
  }

  /* Sobre */

  .sobre h2 {
    font-size: 4em;
  }

  .ftexto {
    padding-bottom: 0px;
    flex-direction: column;
  }

  .sobre img {
    margin-left: 30%;
  }
  .ftexto p {
    padding: 40px 0;
  }

  .dados p {
    text-align: center;
    font-size: 1.5em;
  }

  /* Rodapé */

  .titulo2 h2 {
    font-size: 4em;
  }

  .rodape div div:nth-child(2) h3 {
    font-size: 2em;
  }

  .rodape div div:nth-child(3) > ul li a {
    font-size: 1em;
  }

  .rodape div div:nth-child(3) ul:nth-child(2) h6 {
    font-size: 1.3em;
    margin-top: 10px;
  }

  .rodape div div:nth-child(3) ul:nth-child(3) li {
    margin: 0px 30px 0px 0px;
  }

  .jogos h2 {
    font-size: 5em;
    padding: 20px 0;
    text-align: center;
  }

  .conteudoAtividade {
    flex-direction: column;
  }

  .conteudoAtividade div {
    width: 100%;
  }

  .bigCard {
    margin: 10% 0 !important;
  }
}
